treechildren::-moz-tree-image(DirCol, orphaned) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://tbsync/content/skin/error16.png");
}

.abMenuItem[AddrBook="true"][TbSyncIcon="orphaned"] {
  /* TB143+ uses --menuitem-icon instead of list-style-image for menuitems */
  --menuitem-icon: url("chrome://tbsync/content/skin/error16.png");
  list-style-image: url("chrome://tbsync/content/skin/error16.png");
}
